<a href="https://colab.research.google.com/github/kalebmes/CS376-Machine-Learning/blob/main/Term%20Project/Phase_1_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [232]:
import pandas as pd

In [233]:
path = 'https://raw.githubusercontent.com/kalebmes/CS492-Introduction-to-data-science/main/Term%20Project/datasets/train.csv?token=GHSAT0AAAAAABRHJ7BISZWEJLFGFIXNLNHAYSVXSQQ'
df = pd.read_csv(path)
df

,ID,IssueDateTime,DeclarationOfficeID,ProcessType,TransactionNature,Type,PaymentType,BorderTransportMeans,DeclarerID,ImporterID,...,ExpressID,ClassificationID,ExportationCountry,OriginCountry,TaxRate,DisplayIndicator,DutyRegime,TotalGrossMassMeasure(KG),AdValoremTaxBaseAmount(Won),Fake
0,72084586,2020-01-01,40,B,55,21,11,40,9GW1AOD,BMWKZKI,...,NaN,9619001090,JP,JP,0.0,C,B,5742.6,2274643.86,0
1,40435069,2020-01-01,40,B,11,21,11,40,7GHJ33J,VFJGVDY,...,NaN,9506910000,CN,CN,8.0,A,Y,21.0,285.60,0
2,55727128,2020-01-01,21,B,15,11,11,10,CSYO98C,M9O8BKE,...,MWIDNS,1201903000,CN,CN,5.0,W1,E,38000.0,16302000.00,0
3,59584234,2020-01-01,30,B,11,21,11,40,IL0ECV3,H920U30,...,NaN,6504000000,CN,CN,0.0,FCN1,E,798.0,49635.60,0
4,81704651,2020-01-01,33,B,11,21,11,30,YFZ49RP,O4IUH56,...,NaN,8504502090,HK,CN,2.2,CIT,G,170.9,24917.22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37817,97825407,2020-12-31,20,B,15,21,13,10,A7POIBB,CL38DL7,...,NaN,6204420000,CN,CN,5.2,FCN1,B,10.0,583.00,0
37818,52016133,2020-12-31,10,B,11,21,11,10,JIHZF3K,37V8B48,...,NaN,8523521000,CN,CN,0.0,CIT,B,7.0,14179.20,0
37819,47048702,2020-12-31,13,B,94,21,11,40,MBMUR6B,NK3WFQM,...,NaN,2204212000,FR,FR,0.0,FEU1,E,1728.0,41472.00,0
37820,30000766,2020-12-31,40,B,11,21,11,10,AX4CW6G,9FP5BBC,...,NaN,9018509000,JP,JP,1.3,C,Y,5.0,8630.50,1
37821,27097227,2020-12-31,10,B,11,11,11,10,5PDPMM1,A8YKFP4,...,NaN,4205002900,CN,CN,0.0,FCN1,B,32500.0,289250.00,0

In [278]:
cols = df.columns
cols

Index(['ID', 'IssueDateTime', 'DeclarationOfficeID', 'ProcessType',
       'TransactionNature', 'Type', 'PaymentType', 'BorderTransportMeans',
       'DeclarerID', 'ImporterID', 'SellerID', 'ExpressID', 'ClassificationID',
       'ExportationCountry', 'OriginCountry', 'TaxRate', 'DisplayIndicator',
       'DutyRegime', 'TotalGrossMassMeasure(KG)',
       'AdValoremTaxBaseAmount(Won)', 'Fake', 'Month'],
      dtype='object')

In [279]:
#1. Which column does have the most missing values?

missing_cols = df.isnull().sum()
missing_cols[missing_cols > 0] # as we can see express ID has the highest missing column

SellerID               3916
ExpressID             29504
ExportationCountry        1
OriginCountry             1
dtype: int64

In [280]:
missing_cols = missing_cols[missing_cols > 0]
print(missing_cols.idxmax())

ExpressID

In [281]:
#2. Do the imports by airplanes (code=40) have a higher proportion of fake declarations than those by ships (code=10)?

plane_imports = df[df['BorderTransportMeans'] == 40]
fake_plane_imports_prop = plane_imports[plane_imports['Fake'] == 1].shape[0] / len(plane_imports)
fake_plane_imports_prop

ship_imports = df[df['BorderTransportMeans'] == 10]
fake_ship_imports_prop = ship_imports[ship_imports['Fake'] == 1].shape[0] / len(ship_imports)
fake_ship_imports_prop < fake_plane_imports_prop # as we can see there are higher proportion of fake declarations by ships

True

In [282]:
#3. Do the imports at Incheon Airport (code=40) have a higher proportion of fake declarations than those at Incheon Harbor (code=20)?

harbor_imports = df[df['BorderTransportMeans'] == 20]
harbor_fake_prop = harbor_imports[harbor_imports['Fake'] == 1].shape[0] / len(harbor_imports)
fake_plane_imports_prop > harbor_fake_prop

False

In [283]:
#4. From which exportation country (ExportationCountry) do the imports have the highest proportion of fake declarations?
from collections import Counter
countries = ['NZ', 'FI', 'GR', 'FR']
df_countries = df[df['ExportationCountry'].isin(countries)]
fake_countries = df_countries[df_countries['Fake'] == 1]
fake_by_countries = Counter(fake_countries['ExportationCountry'])
num_by_countries = Counter(df_countries['ExportationCountry'])
print(fake_by_countries)
print(num_by_countries)
prop_dict = {country: (numf/numv) for (country, numf) in fake_by_countries.items() for country2, numv in num_by_countries.items() if country==country2}
print(prop_dict)
print(max(prop_dict, key=prop_dict.get))

Counter({'FR': 113, 'FI': 24, 'NZ': 3, 'GR': 1})
Counter({'FR': 460, 'FI': 54, 'NZ': 18, 'GR': 5})
{'FI': 0.4444444444444444, 'FR': 0.24565217391304348, 'NZ': 0.16666666666666666, 'GR': 0.2}
FI

In [284]:
#5. In which month do the imports have the highest proportion of fake declarations?

df['IssueDateTime'] = pd.to_datetime(df['IssueDateTime'])
df['Month'] = df['IssueDateTime'].dt.month
months = [2, 5, 7, 8]
df_months = df[df['Month'].isin(months)]
fake_months = df_months[df_months['Fake'] == 1]
fake_by_month = Counter(fake_months['Month'])
num_months = Counter(df_months['Month'])
print(fake_by_month)
print(num_months)
prop_month = {month: numf/numv for (month, numf) in fake_by_month.items() for (month2, numv) in num_months.items() if month==month2}
print(prop_month)
print(max(prop_month, key=prop_month.get))

Counter({2: 715, 7: 715, 8: 671, 5: 563})
Counter({7: 3427, 8: 3168, 2: 3151, 5: 2826})
{2: 0.2269120913995557, 5: 0.19922151450813871, 7: 0.20863729209220894, 8: 0.21180555555555555}
2

In [285]:
#6. What is the Pearson correlation coefficient between TotalGrossMass and AdValoremTaxBaseAmount?
print(df['TotalGrossMassMeasure(KG)'].corr(df['AdValoremTaxBaseAmount(Won)']))

0.21273827418767094

In [286]:
#7. Do tax rate and Fake show correlation
print(df['TaxRate'].corr(df['Fake']))

-0.0016180176775034522